
<h2>The CUBE method</h2>
<p>
    <b>CUBE</b> is a method for the prioritization of product backlogs. It takes different perspectives into account. This helps you to maximize your odds of success.
</p>

<div class="cards">
    <div class="card">
        <a href="{{ '/cube/' | relative_url }}">
            <img src="{{ '/assets/CUBE_Method_Slides.jpg' | relative_url }}" alt="Patrick-Frey-CUBE-slides.pdf">
        </a>
    </div>

    <div class="card">
        <a href="{{ '/cube/' | relative_url }}">
            <div>
                Learn more
            </div>
        </a>            
        <br/>        
        <a href="{{ '/assets/Patrick-Frey-CUBE-book.pdf' | relative_url }}" download style="text-decoration: none;">
            <div class="button">
                Download ebook (62 pages)
            </div>
        </a>            
        <br/>
        <a href="{{ '/assets/Patrick-Frey-CUBE-slides.pdf' | relative_url }}" download style="text-decoration: none;">
            <div class="button">
                Download presentation (75 slides)  
            </div>
        </a>
    </div>
</div>

<br/>