
<h2>The CUBUDE method</h2>
<p>
    <b>CUBUDE</b> is a method for the prioritization of product backlogs. It takes different perspectives into account. This helps you to maximize your odds of success.
</p>

<div style="display: flex;">
    <div style="width: 50%;">
        <img src="/assets/CUBUDE_Method_Slides.jpg" alt="The CUBUDE method (slides).pdf" width="300px">
    </div>

    <div style="width: 40%;">        
        <a href="/cubude/">
            <div>
                Learn more
            </div>
        </a>            
        <br/>        
        <a href="/assets/The CUBUDE method.pdf (book)" download>
            <div style="border: 2px solid; border-color: #2a7ae2; padding:10px; background-color: #2a7ae2; color: white;">
                Download book
            </div>
        </a>            
        <br/>
        <a href="/assets/The CUBUDE method (slides).pdf" download>
            <div style="border: 2px solid; border-color: #2a7ae2; padding:10px; background-color: #2a7ae2; color: white;">
                Download slides            
            </div>
        </a>
    </div>
</div>

<br/>