
<h2>Value-based pricing</h2>
<p>
    <b>Value-based pricing</b> is a method for deriving and arguing prices for products or services based on the value that it creates for your customer. Amongst pricing experts, the method is commonly deemed as being superior to other pricing methods such as cost-oriented pricing or demand-oriented pricing.
</p>

<div class="cards">

    <div class="card">
        <a href="{{ '/value_based_pricing' | relative_url }}">
            <img src="{{ '/assets/Value_Based_Pricing_Slides.jpg' | relative_url }}" alt="Patrick-Frey-CUBE-slides.pdf">
        </a>
    </div>
    <div class="card">
        <a href="{{ '/value_based_pricing' | relative_url }}">
            <div>
                Learn more
            </div>
        </a>
        <br/>        
        <a style="text-decoration: none">
            <div class="button">
                Download ebook (coming soon)
            </div>
        </a>            
        <br/>
        <a style="text-decoration: none">
            <div class="button">
                Download presentation (coming soon)
            </div>
        </a>        
    </div>
</div>