
<h2>Value-based pricing</h2>
<p>
    <b>Value-based pricing</b> is a method for deriving and arguing prices for products or services based on the value that it creates for your customer. Amongst pricing experts, the method is commonly deemed as being superior to other pricing methods such as cost-oriented pricing or demand-oriented pricing.
</p>

<div style="display: flex;">
    <div style="width: 50%;">
        <img src="/assets/Value_Based_Pricing_Slides_V2.jpg" alt="The CUBUDE method (slides).pdf" width="300px">
    </div>

    <div style="width: 40%;">        
        <a href="/value_based_pricing/">
            <div>
                Learn more
            </div>
        </a>
        <br/>        
        <a>
            <div style="border: 2px solid; border-color: #2a7ae2; padding:10px; background-color: #2a7ae2; color: white;">
                Download book (coming soon)
            </div>
        </a>            
        <br/>
        <a>
            <div style="border: 2px solid; border-color: #2a7ae2; padding:10px; background-color: #2a7ae2; color: white;">
                Download slides (coming soon)
            </div>
        </a>        
    </div>
</div>