@charset "utf-8";

// Define defaults for each variable.
// Colors from PPT template
$color1: #04617b;
$color1-100: #04617b;
$color1-90: #1d7088;
$color1-80: #368095;
$color1-70: #4f90a2;
$color1-60: #68a0af;
$color1-50: #81b0bd;
$color1-40: #9abfca;
$color1-30: #b3cfd7;
$color1-20: #ccdfe4;
$color1-10: #e5eff1;
$color1-0: #ffffff;

$color2: #0f6fc6;
$color2-100: #0f6fc6;
$color2-90: #267dcb;
$color2-80: #3e8bd1;
$color2-70: #579ad7;
$color2-60: #6fa8dc;
$color2-50: #87b7e2;
$color2-40: #9fc5e8;
$color2-30: #b7d3ed;
$color2-20: #cfe2f3;
$color2-10: #e7f0f9;
$color2-0: #ffffff;

$color3: #009dd9;
$color3-100: #009dd9;
$color3-90: #19a6dc;
$color3-80: #32b0e0;
$color3-70: #4cbae4;
$color3-60: #66c4e8;
$color3-50: #7fceec;
$color3-40: #99d7ef;
$color3-30: #b2e1f3;
$color3-20: #ccebf7;
$color3-10: #e5f5fb;
$color3-0: #ffffff;


$color4: #0bd0d9;
$color5: #10cf9b;
$color6: #7cca62;
$color7: #a5c249;
$color8: #ff9933;
$color9: #E7EBF5;

// Other nice colors
/*
$color1: #25316D;
$color2: #5F6F94;
$color3: #97D2EC;
$color4: #FEF5AC;

$color1: #B52735;
$color2: #5B9CA2;
$color3: #F5F1D8;

$color1: #2E4C70;
$color2: #ACCCF2;
$color3: #62A2F0;
$color4: #505E70;
$color5: #4D7FBD;
*/

//$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-family: 'Manrope', sans-serif;
$base-font-size:   20px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111111 !default;
$background-color: #fdfdfd !default;
$brand-color:      $color2-10 !default;

$link-color: $color8;
$header-font-color: #111111 !default;
$footer-font-color: #111111 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1250px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "button",
  "iframe-wrapper",
  "responsive-cards"
;
