.card {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
}

.cards-2 {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 3rem;
}

.cards-3 {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 3rem;
}

.cards-4 {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.cards-5 {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.cards-people {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
}

@media (min-width: 900px) {
    .cards {
        grid-template-columns: 690px 400px;
    }

    .cards-2 {
        grid-template-columns: 400px 200px 390px;
    }

    .cards-3 {
        grid-template-columns: 150px 350px 150px 350px;
    }   

    .cards-4 {
        grid-template-columns: 600px 600px;
    }      
    .cards-5 {
        grid-template-columns: 300px 300px 300px 300px;
    }      

    .cards-people {
        grid-template-columns: 200px 1000px;
    }        
}
